*{
    padding: 0%;
    margin: 0%;
}
.background{
    background: url("../Images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.container{
    background: white;
    margin: auto;
    height: 480px;
    width: 400px;
    border-radius: 5px;
}
.heading{
    display: flex;
    flex-direction: row;
}
.center{
    display: flex;
    flex-direction: row;
}
.bottom{
    display: flex;
    flex-direction: row;
}
.left{
    display: flex;
    flex-direction: column;
}
.right{
    align-content: right;
}